@page
@model GamesCollection.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Company</h1>
<dl>
    <dt>Name</dt>
    <dd>@Model.Company.Name</dd>
    <dt>Country</dt>
    <dd>@Model.Company.CountryCode</dd>
    <dt>Website</dt>
    <dd>@Model.Company.Website</dd>
</dl>
<h2>Subsidiaries</h2>
<ul>
    @foreach (var item in Model.Company?.Children)
    {
        <li>@item.Name</li>
    }
</ul>
<h2>Games</h2>
<ul>
    @foreach (var item in Model.Company?.DevelopedGames)
    {
        <li>@item.Name</li>
    }
</ul>


<ul>
    @foreach (var item in Model.Company?.ReleasedGames)
    {
        <li>@item.Name</li>
    }
</ul>
